<h1><%= search_results.member_count %> Results</h1>
<% search_results.members.each do |member| %>
  <ul class="member">
    <li class="name"><%= member.name %></li>
    <li class="role"><%= member.role %></li>
    <li class="party"><%= member.party %></li>
    <li class="district"><%= member.district %></li>
  </ul>
<% end %>
